<!DOCTYPE html>

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/login.css">
    <title>Login</title>
</head>

<body>
    <div id="content">
        <div id="logo"><img src="assets/Simply_Beauty_Ph_header_360x.png"></div>
        <div id="data-pane">
            <h2>Admin Login</h2>
           <div id="user-entry"><label for="username">Username: </label> <input
            type="text"
            id="username"
            name="username"
            required
            minlength="4"
            maxlength="8" /></div>
            <br>
           <div id="password-entry"><label for="password">Password: </label><input
            type="password"
            id="password"
            name="password"
            required
            minlength="8"/></div>
            <br>
            <div id="submit">Submit</div>
        </div>
    </div>
</body>
